<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paul LeTourneau | Portfolio</title>
    <meta
      name="description"
      content="Paul's portfolio showcasing projects in web development, UX, and analytics."
    />

    <!-- JSON-LD Schema -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Paul LeTourneau",
        "url": "https://pletourneau.github.io/portfolioVue/",
        "sameAs": [
          "https://www.linkedin.com/in/paulcletourneau",
          "https://github.com/pletourneau",
          "mailto:thepaulletourneau@gmail.com"
        ],
        "jobTitle": "Front-End Developer & UX Specialist",
        "knowsAbout": [
          "Web Development",
          "UX Design",
          "WordPress",
          "Vue.js",
          "Data Analytics"
        ]
      }
    </script>

    <!-- Google Fonts: Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- AOS CSS for animations -->
    <link
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
      rel="stylesheet"
    />

    <style>
      /* Particles.js Container */
      #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #41416b;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      }

      /* Hero Circle */
      .hero-circle {
        position: absolute;
        top: 35%;
        left: 70%;
        width: 300px;
        height: 300px;
        background: rgba(200, 182, 20, 0.7);
        border-radius: 50%;
        transition: top 0.1s linear, left 0.1s linear;
        z-index: 1;
      }
      @media (max-width: 767px) {
        .hero-circle {
          width: 30vw;
          height: 30vw;
        }
      }

      /* Stats.js */
      .count-particles {
        background: #000022;
        position: absolute;
        top: 48px;
        left: 0;
        width: 80px;
        color: #13e8e9;
        font-size: 0.8em;
        text-align: left;
        text-indent: 4px;
        line-height: 14px;
        padding-bottom: 2px;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
      }
      .js-count-particles {
        font-size: 1.1em;
      }
      #stats,
      .count-particles {
        -webkit-user-select: none;
        user-select: none;
        margin-top: 5px;
        margin-left: 5px;
      }
      #stats {
        border-radius: 3px 3px 0 0;
        overflow: hidden;
      }
      .count-particles {
        border-radius: 0 0 3px 3px;
      }

      /* Custom Styles */
      html {
        scroll-behavior: smooth;
      }
      body {
        font-family: "Montserrat", sans-serif;
      }

      /* ABOUT SECTION */
      #about {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        --about-clip-path: polygon(0% 24%, 50% 0%, 100% 8%, 100% 81%, 15% 100%);
        background: linear-gradient(to right, #4265a1, #dae4f5);
      }
      #about::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("assets/images/moto.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        clip-path: var(--about-clip-path);
        -webkit-clip-path: var(--about-clip-path);
        z-index: 0;
      }
      #about > div {
        position: relative;
        z-index: 1;
      }

      /* SERVICES SECTION */
      #services {
        position: relative;
        background: linear-gradient(to right, #4265a1, #dae4f5);
      }
      #services > div {
        position: relative;
        z-index: 1;
      }

      #home {
        min-height: 100vh;
        position: relative;
        overflow: hidden;
      }

      /* PROJECTS SECTION */
      #portfolio {
        position: relative;
        overflow: hidden;
        background: linear-gradient(to right, #4265a1, #dae4f5);
      }
      #portfolio > div {
        position: relative;
        z-index: 1;
      }

      /* CONTACT SECTION */
      #contact {
        position: relative;
        overflow: hidden;
        background: linear-gradient(to right, #4265a1, #dae4f5);
      }

      /* Fade Transition */
      .fade-enter-active,
      .fade-leave-active {
        transition: opacity 0.3s ease;
      }
      .fade-enter-from,
      .fade-leave-to {
        opacity: 0;
      }

      /* Accordion Arrow Rotation */
      .rotate-180 {
        transform: rotate(180deg);
      }
    </style>
    <meta
      name="google-site-verification"
      content="b_beH_Sf0cdzAjngjErWErCHNtrRlZytZIrAv3h_N7c"
    />
  </head>

  <body class="bg-white text-white">
    <!-- Main Vue App -->
    <div id="app">
      <!-- NAVBAR -->
      <header
        :class="{
          'fixed top-0 left-0 w-full bg-slate-900 bg-opacity-90 shadow-md transition-all duration-300': true,
          'shadow-lg': isNavbarScrolled
        }"
        class="z-50"
      >
        <nav class="container mx-auto p-4 flex items-center">
          <!-- Navigation Links (Desktop) -->
          <ul class="hidden md:flex space-x-6 ml-auto">
            <li>
              <a
                href="#home"
                class="hover:text-blue-600 transition-colors"
                @click="closeMobileMenu"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#about"
                class="hover:text-blue-600 transition-colors"
                @click="closeMobileMenu"
                >About</a
              >
            </li>
            <li>
              <a
                href="#portfolio"
                class="hover:text-blue-600 transition-colors"
                @click="closeMobileMenu"
                >Projects and Case Studies</a
              >
            </li>
            <li>
              <a
                href="#contact"
                class="hover:text-blue-600 transition-colors"
                @click="closeMobileMenu"
                >Contact</a
              >
            </li>
          </ul>

          <!-- Mobile Menu Button -->
          <div class="md:hidden">
            <button
              @click="isMobileMenuOpen = !isMobileMenuOpen"
              class="focus:outline-none"
              aria-label="Toggle Mobile Menu"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </nav>

        <!-- Mobile Menu -->
        <div
          v-if="isMobileMenuOpen"
          class="md:hidden bg-white bg-opacity-80 p-4 inline-block w-fit mx-auto"
        >
          <ul class="space-y-2">
            <li>
              <a
                href="#home"
                class="block text-slate-900 hover:text-blue-600 transition-colors"
                @click="closeMobileMenu"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#about"
                class="block text-slate-900 hover:text-blue-600 transition-colors"
                @click="closeMobileMenu"
                >About</a
              >
            </li>
            <li>
              <a
                href="#portfolio"
                class="block text-slate-900 hover:text-blue-600 transition-colors"
                @click="closeMobileMenu"
                >Projects</a
              >
            </li>
            <li>
              <a
                href="#contact"
                class="block text-slate-900 hover:text-blue-600 transition-colors"
                @click="closeMobileMenu"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </header>

      <!-- HERO SECTION -->
      <section
        id="home"
        class="relative min-h-screen flex items-center justify-center text-center overflow-hidden"
      >
        <!-- Particles.js Container -->
        <div id="particles-js"></div>

        <!-- Hero Circle -->
        <div class="hero-circle"></div>

        <!-- Content Box -->
        <div
          class="bg-white bg-opacity-80 rounded-lg p-6 md:p-12 max-w-md shadow-lg relative z-10"
        >
          <h1 class="text-4xl md:text-5xl font-bold mb-4 text-gray-900">
            Hi, I’m Paul
          </h1>
          <p class="text-lg md:text-xl text-slate-900 mb-6">
            <div>
              <span class="scramble-text text-slate-900">Front End Developer</span>
            </div>
            <br />
          </p>
          <a
            href="#about"
            class="inline-block bg-gray-800 text-white px-6 py-3 rounded-lg hover:bg-gray-700 transition-colors"
          >
            Learn More
          </a>
        </div>
      </section>

      <!-- ABOUT SECTION -->
      <section
        id="about"
        class="px-6 md:px-12 min-h-screen flex items-center justify-center bg-cover bg-center relative"
      >
        <div
          class="bg-white bg-opacity-85 rounded-lg p-6 md:p-12 max-w-2xl shadow-lg flex flex-col items-center relative z-10"
        >
          <h2 class="text-2xl text-slate-900 md:text-3xl font-bold mb-6 text-center">
            About Me
          </h2>
          <p class="text-gray-700 text-base md:text-lg leading-relaxed text-center">
            Based in Seattle, WA, I am a web designer/developer with an eye for creating user friendly, and accessible, websites. 
          </p>
          <div class="mt-6 w-full">
            <h3 class="text-xl text-slate-900 font-semibold">Education:</h3>
            <ul class="list-disc list-inside text-gray-600 mt-2">
              <li>
                Certificate in Web & Mobile Development | Epicodus | 2024
              </li>
              <li>
                Graduate Certificate in UX Design | Metropolitan State University | 2020
              </li>
              <li>
                Bachelor of Science, Political Science | University of Minnesota | 2012
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- PORTFOLIO SECTION -->
      <section
        id="portfolio"
        class="px-6 md:px-12 bg-gradient-to-r from-[#4265a1] to-[#dae4f5] min-h-screen relative overflow-hidden pt-20"
      >
        <div class="relative z-10 flex flex-col items-center">
          <div class="bg-white bg-opacity-80 p-4 rounded-md mb-8">
            <h2 class="text-2xl md:text-3xl font-bold text-center text-gray-900">
              Projects
            </h2>
          </div>
          <div class="w-full max-w-6xl mx-auto space-y-6">
            <!-- Projects Loop -->
            <div
              v-for="(project, index) in projects"
              :key="index"
              class="bg-gray-100 shadow-md rounded-lg p-4 transition-all duration-300"
              data-aos="fade-up"
            >
              <div
                @click="toggleAccordion(index)"
                class="cursor-pointer flex items-center justify-between"
              >
                <div class="flex items-center">
                  <img
                    :src="project.image"
                    :alt="project.title"
                    class="rounded-md w-24 h-24 object-cover shadow-sm mr-4"
                    loading="lazy"
                  />
                  <div>
                    <h3 class="text-xl font-semibold text-gray-800">
                      {{ project.title }}
                    </h3>
                    <p class="text-gray-600">{{ project.shortDescription }}</p>
                  </div>
                </div>
                <svg
                  :class="{'transform rotate-180': project.open}"
                  class="h-6 w-6 text-gray-600 transition-transform duration-300"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  ></path>
                </svg>
              </div>
              <transition name="fade">
                <div v-if="project.open" class="mt-4">
                  <div class="flex flex-col lg:flex-row lg:space-x-6">
                    <div class="lg:w-1/2">
                      <h4 class="text-lg text-slate-700 font-semibold">Structure</h4>
                      <p class="text-slate-700 mb-4">{{ project.structure }}</p>
                      <h4 class="text-lg text-slate-700 font-semibold">Description</h4>
                      <p
                        class="text-slate-700 mb-4"
                        v-html="project.longDescription"
                      ></p>
                      <div
                        v-if="project.timeline && project.timeline.length"
                        class="mt-4"
                      >
                        <h4 class="text-lg text-slate-700 font-semibold mb-2">
                          Project Timeline
                        </h4>
                        <div class="relative border-l-2 border-blue-500">
                          <div
                            v-for="(item, idx) in project.timeline"
                            :key="idx"
                            class="mb-10 ml-6 pl-6 relative"
                            data-aos="fade-up"
                            data-aos-delay="100"
                          >
                            <span
                              class="flex items-center justify-center w-6 h-6 bg-blue-500 text-white rounded-full -left-3 absolute"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-4 w-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                                />
                              </svg>
                            </span>
                            <h5 class="mb-1 text-lg font-bold text-gray-800">
                              {{ item.date }}
                            </h5>
                            <p class="text-gray-600">{{ item.event }}</p>
                          </div>
                        </div>
                      </div>
                      <div
                        v-if="project.repoLinks && project.repoLinks.length"
                        class="mt-4"
                      >
                        <h4 class="text-lg text-slate-700 font-semibold">
                          Repositories
                        </h4>
                        <div class="ml-4 space-y-2">
                          <a
                            v-for="(repo, repoIndex) in project.repoLinks"
                            :key="repoIndex"
                            :href="repo.url"
                            target="_blank"
                            class="text-blue-600 hover:text-blue-800 transition-colors block"
                          >
                            {{ repo.name }}
                          </a>
                        </div>
                      </div>
                      <div v-if="project.liveLink" class="mt-4">
                        <h4 class="text-lg text-slate-700 font-semibold">
                          Live Demo
                        </h4>
                        <div class="ml-4">
                          <a
                            :href="project.liveLink"
                            target="_blank"
                            class="text-blue-600 hover:text-blue-800 transition-colors block"
                          >
                            View Live Demo
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="lg:w-1/2 mt-4 lg:mt-0">
                      <div class="relative">
                        <transition name="fade">
                          <img
                            :key="project.currentImageIndex"
                            :src="project.previewImages[project.currentImageIndex]"
                            :alt="project.title + ' preview ' + (project.currentImageIndex + 1)"
                            class="rounded-md w-full h-auto object-cover shadow-sm"
                            loading="lazy"
                          />
                        </transition>
                        <button
                          v-if="project.previewImages.length > 1"
                          @click="prevImage(project)"
                          class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-white bg-opacity-75 hover:bg-opacity-100 text-gray-800 rounded-full p-2 focus:outline-none"
                          aria-label="Previous Image"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M15 19l-7-7 7-7"
                            />
                          </svg>
                        </button>
                        <button
                          v-if="project.previewImages.length > 1"
                          @click="nextImage(project)"
                          class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-white bg-opacity-75 hover:bg-opacity-100 text-gray-800 rounded-full p-2 focus:outline-none"
                          aria-label="Next Image"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M9 5l7 7-7 7"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </transition>
            </div>
            <!-- End Projects Loop -->
          </div>
        </div>
      </section>

      <!-- CONTACT SECTION with Updated Layout -->
      <section
        id="contact"
        class="flex items-center justify-center text-center px-6 md:px-12 bg-gradient-to-r from-[#4265a1] to-[#dae4f5] min-h-screen pt-20"
      >
        <div class="flex flex-col md:flex-row items-center justify-center gap-6">
          <!-- Image Box -->
          <div class="bg-white bg-opacity-80 rounded-lg p-6 md:p-12 max-w-md shadow-lg">
            <img
              src="assets/images/reachOut.webp"
              alt="Reach Out"
              class="w-full h-full object-cover rounded-lg"
            />
          </div>
          <!-- Contact Info Box -->
          <div class="bg-white bg-opacity-80 rounded-lg p-6 md:p-12 max-w-md shadow-lg">
            <h2 class="text-2xl md:text-3xl font-bold mb-6 text-gray-900">
              Reach Out
            </h2>
            <p class="text-lg text-gray-700 mb-4">
              <strong>Phone:</strong> 651.207.7388
            </p>
            <p class="text-lg text-gray-700 mb-6">
              <strong>Email:</strong>
              <a
                href="mailto:thepaulletourneau@gmail.com"
                class="text-blue-600 hover:text-blue-800 transition-colors"
              >
                thepaulletourneau@gmail.com
              </a>
            </p>
            <div class="flex justify-center space-x-6">
              <a
  href="https://linkedin.com/in/paulcletourneau"
  target="_blank"
  class="text-blue-600 hover:text-blue-800 transition-colors"
  aria-label="LinkedIn"
>
  <img src="assets/images/LI-In-Bug.png" alt="LinkedIn" class="h-8" />
</a>
<a
  href="https://github.com/pletourneau"
  target="_blank"
  class="text-blue-600 hover:text-blue-800 transition-colors"
  aria-label="GitHub"
>
  <img src="assets/images/github-mark.svg" alt="GitHub" class="h-8 w-8" />
</a>

            </div>
            <p class="text-gray-600 mt-6">
              © {{ currentYear }} Paul LeTourneau | Seattle, WA
            </p>
          </div>
        </div>
      </section>
    </div>

    <!-- AOS JS for animations -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <!-- Vue.js (Must be loaded before app.js) -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Include your custom Vue logic -->
    <script src="app.js"></script>

    <!-- Particles.js Library -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <!-- Stats.js Library -->
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

    <script>
      particlesJS("particles-js", {
        particles: {
          number: {
            value: 400,
            density: {
              enable: true,
              value_area: 800
            }
          },
          color: { value: "#fff" },
          shape: {
            type: "circle",
            stroke: { width: 0, color: "#9b9cd6" },
            polygon: { nb_sides: 5 },
            image: { src: "img/github.svg", width: 100, height: 100 }
          },
          opacity: {
            value: 0.5,
            random: true,
            anim: {
              enable: false,
              speed: 1,
              opacity_min: 0.1,
              sync: false
            }
          },
          size: {
            value: 5,
            random: true,
            anim: {
              enable: false,
              speed: 40,
              size_min: 0.1,
              sync: false
            }
          },
          line_linked: {
            enable: false,
            distance: 500,
            color: "#ffffff",
            opacity: 0.4,
            width: 2
          },
          move: {
            enable: true,
            speed: 1,
            direction: "bottom",
            random: false,
            straight: false,
            out_mode: "out",
            bounce: false,
            attract: {
              enable: false,
              rotateX: 600,
              rotateY: 1200
            }
          }
        },
        interactivity: {
          detect_on: "canvas",
          events: {
            onhover: { enable: false, mode: "grab" },
            onclick: { enable: false, mode: "repulse" },
            resize: true
          },
          modes: {
            grab: { distance: 200, line_linked: { opacity: 0.5 } },
            bubble: { distance: 400, size: 4, duration: 0.3, opacity: 1, speed: 3 },
            repulse: { distance: 200, duration: 0.4 },
            push: { particles_nb: 4 },
            remove: { particles_nb: 2 }
          }
        },
        retina_detect: true
      });
    </script>
    <script src="scramble.js"></script>
    <script src="heroCircle.js"></script>
  </body>
</html>
